 .hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .hero {
  background: url('/img/tirana-skyline.jpg') no-repeat center center/cover;
}

  animation: fadeIn 2s ease-in;
}

.hero h1 {
  font-size: 3rem;
  color: #00ff88;
  text-shadow: 0 0 20px #354ce7;
}

.hero p {
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(50px); }
  to { opacity: 1; transform: translateY(0); }
}
